[--datatype=CT] [--datatype=LT --imperial --hideunits --centeredwidth=3] ([--datatype=LT --startday=0 --hideunits --imperial --centeredwidth=3]/[--datatype=HT --startday=0 --hideunits --imperial --centeredwidth=3])#
